#notificationsComponent {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: -60px; 
    z-index: 9998;
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-size: 14px;
    color: white;
    opacity: 100%;
    transition-property: bottom, opacity;
    transition-duration: 500ms;
    transition-delay: 300ms;
    transition-timing-function: ease-in-out;
}

#submit-msg-wrapper,
#clipboard-msg-wrapper,
#report-msg-wrapper,
#error-msg-wrapper {
    margin: 0 2%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 11px;
    border-radius: 8px;
    cursor: pointer;
}

#submit-msg-wrapper,
#clipboard-msg-wrapper,
#report-msg-wrapper {
    background-color: #47CD64;
}

#error-msg-wrapper {
    background-color: #D12929;
}

#submit-msg-wrapper p {
    margin-left: 10px;
}

#clipboard-msg-wrapper p,
#report-msg-wrapper p,
#error-msg-wrapper p {
    margin-left: 2px;
}

#success-popup-category {
    background-color: #23ad419f;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 5px;
    white-space: nowrap;
}


@media (max-width: 768px) {

}